.restaurant {
  position: relative;
  padding: 50px;
  margin-top: 36px;
  margin-left: 24px;
  border: 1px solid #4b7bec;
  display: inline-block;
  background-color: #4b7bec;
  color: white;
}

.logout {
  margin-right: 10px;
  position: absolute;
  bottom: 50px;
  right: 10px;
}
