.formContainer {
  padding: 36px;
}

.cancel {
  margin-right: 24px;
}

.link {
  text-decoration: none;
}

.row {
  background-color: #fff;
  border-radius: 20px;
  padding: 24px;
  margin: 24px;
}

.rowDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  text-align: left;
  flex-grow: 1;

  .name {
    font-weight: bold;
    font-size: 18px;
    color: #000;
  }
}

.image {
  align-self: center;
  width: auto;
  max-height: 70px;
}

.uploadedImageThumbnail {
  height: 100px;
  width: auto;
}

.details {
  background-color: #fff;
  height: 100vh;
  padding: 36px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.addButton {
  display: block;
  padding: 36px;
  position: fixed;
  right: 24px;
  bottom: 24px;
  width: 36px;
  height: 36px;
  background-color: #45aaf2;
  border-color: #45aaf2;
  border-radius: 50%;
  font-size: 16px;

  &:hover {
    cursor: pointer;
  }

  i {
    color: #fff;
    position: relative;
    right: 23px;
    bottom: 23px;
    font-size: 48px !important; /* todo figure out why adding md-48 class name wasnt working */
  }
}

.uploadedImage {
  height: 300px;
  width: 300px;
}
