.formContainer {
  padding: 36px;  
}

.cancel {
  margin-right: 24px;
}

.link {
  text-decoration: none;
};

.row {
  background-color: #fff;
  border-radius: 20px;
  padding: 24px;
  margin: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  text-align: left;
  flex-grow: 1;

  .name {
    font-weight: bold;
    font-size: 18px;
    color: #000;
  }
}

.image {
  align-self: center;
  width: auto;
  max-height: 120px;
}

.uploadedImageThumbnail {
  height: 100px;
  width: auto
}


.details {
  background-color: #fff;
  height: 100vh;
  padding: 36px;
  padding-bottom: 0;
  margin-bottom: 0;
}
